body{
    background-color: antiquewhite;
}
.titulo { 
    text-align: center;
    font-size: 40px;
    color:black;
    text-decoration: underline;   
    text-transform: uppercase;
}
.Menú {
    float: right;
}